In [1]:
import pandas as pd

In [7]:
data = pd.read_csv(r"C:\Learning\Machine-Learning\Deep_Learning_WorkSpace\projects\sentiment-analysis-project\data\raw\training_data.csv", usecols=[0,5], names=["label", "reviews"])

In [8]:
data.head()

   label                                            reviews
0      0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1      0  is upset that he can't update his Facebook by ...
2      0  @Kenichan I dived many times for the ball. Man...
3      0    my whole body feels itchy and like its on fire
4      0  @nationwideclass no, it's not behaving at all....

In [4]:
len(data)

1048575

In [11]:
first5000 = data[:5000]
last5000 = data[-5001:-1]

In [23]:
last5000.head(5)

         label                                            reviews
1043575      4  Off to school, having my last biology test tod...
1043576      4  @faintbreaths That girl from SMU�people are sa...
1043577      4  So loving the Dark Blade http://tinyurl.com/cd...
1043578      4  is down for another great weekend of sweet, sw...
1043579      4  @Lobato1 w00t! Takes a bit to build a network ...

In [26]:
for i in range(len(last5000)):
    last5000.loc[i+1043575,"label"]=1

In [27]:
last5000.sample(5)

         label                                            reviews
1047123      1  @KarenMillen_ That kaftan is another one to ad...
1044467      1  I'm still loving the new background  lookin fo...
1044191      1  Today is an amazing &amp; beautiful day. I wis...
1047558      1  @DonnieWahlberg Ddub can't wait too see u Augu...
1048368      1  Mourning tweeps jus woke up 2 hear some good n...

In [28]:
data10000 = pd.concat([first5000, last5000], ignore_index= True)

In [33]:
data10000["label"].to_csv(r"C:\Learning\Machine-Learning\Deep_Learning_WorkSpace\projects\sentiment-analysis-project\data\raw\label10000.csv")
data10000["reviews"].to_csv(r"C:\Learning\Machine-Learning\Deep_Learning_WorkSpace\projects\sentiment-analysis-project\data\raw\text10000.csv")